.HM2{
    background: conic-gradient(rgb(147, 252, 152),rgb(136, 178, 255),rgb(241, 25, 205),rgb(255, 253, 159)) ;
    height: 1270px;
    width: auto;
    font-size: xx-large;
    font-family: monospace;
    color: rgb(255, 255, 255);
}
.LOL{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    list-style: none;
}
.HM2{
    height: 100vh;
    width: 100%;
    background-color: rgb(241, 241, 235);
}
nav{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 30px 100px;
}
.logo{
    font-size: 36px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    cursor:  pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform:  scale(1.1);
}
nav ul li{
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: black;
    position:  relative;
    padding:  5px 0;
    font-weight: bold;
    font-size: 20px;
    transition: 0.2s ease;
}
nav ul li a:hover{
    color: rgb(65, 79, 107);
}
nav ul li a::after{
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    position:  absolute;
    height: 3px;
    background-color: black;
    transition: 0.3 ease;
}
nav ul li a:hover::after{
 width: 100%;
}
.btn{
    color: rgb(0, 0, 0);
}